<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Тестовое задание</title>
    <script>

        function updateStatusCell(new_status, taskID) {
            console.log(new_status)
            console.log(taskID)
            let statusHref = document.createElement('a')
            if (new_status === 'completed') {
                statusHref.textContent = new_status
            } else {
                statusHref.textContent = new_status
                statusHref.onclick = function () {
                    updateStatus(taskID)
                }
                statusHref.href = '#'
            }
            return statusHref
        }

        function updateStatus(taskID) {
            console.log(taskID)
            let xmlHttp = new XMLHttpRequest();
            xmlHttp.open("GET", location.protocol + "//" + location.host + "/result/" + taskID, true);
            // xmlHttp.setRequestHeader("Content-Type", "application/json")
            xmlHttp.onreadystatechange = function () {
                if (xmlHttp.readyState === 4 && xmlHttp.status === 200) {
                    let response = JSON.parse(xmlHttp.responseText)
                    console.log(response)
                    let statusHref = updateStatusCell(response.status, taskID)
                    if (response.status === "completed") {
                        document.getElementById('result_' + taskID).textContent = response.result
                    }
                    document.getElementById("status_" + taskID).innerHTML = ''
                    document.getElementById("status_" + taskID).appendChild(statusHref)
                }
            }
            xmlHttp.send();
        }

        const ws = new WebSocket("ws://{{ websocket_host }}:{{ websocket_port }}/ws");
        ws.onmessage = function (event) {
            console.log(event.data)
            let json_data = JSON.parse(event.data)
            let taskID = json_data.task_id
            let table = document.getElementById('task_table')
            let rowCount = table.rows.length;
            let row = table.insertRow(rowCount);
            let cell1 = row.insertCell();
            cell1.textContent = taskID
            let cell2 = row.insertCell(1);
            cell2.id = "result_" + taskID
            cell2.textContent = json_data.result

            let cell3 = row.insertCell(2);
            cell3.id = "status_" + taskID
            let statusHref = updateStatusCell(json_data.status, taskID)
            cell3.appendChild(statusHref)
        };

        function get_proc_id() {
            let data_json = JSON.stringify({
                "x": document.getElementById('x_in').value,
                "y": document.getElementById('y_in').value,
                "operation": document.getElementById('operation_in').value
            })

            let xmlHttp = new XMLHttpRequest();
            xmlHttp.open("POST", location.protocol + "//" + location.host + "/calc", true);
            xmlHttp.setRequestHeader("Content-Type", "application/json")
            xmlHttp.onreadystatechange = function () {
                if (xmlHttp.readyState === 4 && xmlHttp.status === 200) {
                    document.getElementById('proc_id').value = JSON.parse(xmlHttp.responseText)['process_id']
                }
            }
            xmlHttp.send(data_json);

        }
    </script>
</head>
<body>
<table>
    <tr>
        <th>Создать задачу</th>
    </tr>
    <tr>
        <td>x</td>
        <td>y</td>
        <td>Операция</td>
        <td>Номер процесса</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td><input type="number" value="0" alt="x" id="x_in"></td>
        <td><input type="number" value="0" alt="y" id="y_in"></td>
        <td><select id="operation_in">
            <option value="+" selected="selected">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
        </select></td>
        <td><input id="proc_id" type="number" disabled="disabled" value=""></td>
        <td><a href="#" onclick="get_proc_id()">Создать процесс</a></td>
    </tr>
</table>

<table id="task_table">
    <tr>
        <th>ID Процесса</th>
        <th>Результат</th>
        <th>Статус</th>
    </tr>
</table>
</body>
</html>